.authinfo
.emacs.*.custom.el
.emacs-HASKELL-*
.emacs.bmk
.emacs.d.spacemacs/.cache
.emacs.d.vanilla/
.emacs.org-example
.emacs.spacemacs-update-steps.org
.newsrc
.newsrc-save
.newsrc.eld
NOT-USED-ANYMORE/
ProofGeneral
ProofGeneral-4.2/
RCS/
emacs-cheat-sheet.png
emacsconf.org
haskell-settings-vanilla.org
java-mode-indent-annotations.el
javaone.org
unicode.txt
utilities/
