.authinfo
.emacs.bmk
.emacs.org-example
.newsrc
.newsrc.eld
.spacemacs.emacs-update-steps.org
.spacemacs.emacs.custom.el
.spacemacs.emacs.d/.cache
.vanilla.emacs.custom.el
.vanilla.emacs.d
NOT-USED-ANYMORE/
ProofGeneral
ProofGeneral-4.2/
RCS/
emacs-cheat-sheet.png
java-mode-indent-annotations.el
javaone.org
utilities/
